body {
    font-size: 16px;
    background: rgb(226, 243, 226);
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

/* Header */
.header {
    background: rgb(99, 239, 99);
}

.logo {
    height: 15%;
    width: 15%;
}

.msp-header {
    font-size: 3.5vw;;
    color: white;
    text-align: center;
    font-weight: bold;
}

.contact-header {
    color: white;
    font-size: 1.6vw;
}

#phone:link {
    text-decoration: none;
    color: white;
}

#phone:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    font-weight: bold;
}

/* Main */
.title, .title2, .p-days {
    text-decoration: underline;
    padding-top: 2%;
}

.title, .title2 {
    padding-bottom: 1%;
}

.title {
    font-size: 1.9em;
    color: rgb(50, 130, 60);
    margin-left: 2%;
}

.title2 {
    font-size: 1.7em;
    padding-left: 5%;
    color:rgb(72, 190, 88);
}

.subtitle {
    text-decoration: underline dotted;
    padding-left: 10%;
    color:rgb(93, 240, 112);
}
